<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" *ngIf="isUser" routerLink="/profile">Home</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">User Management</a>
        <a class="nav-item nav-link" routerLink="/search" *ngIf="isAdmin">Search</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3"> -->
                <router-outlet></router-outlet>
            </div>
        <!-- </div>
    </div>
</div> -->
